/*
CSS3 Tab Experiment
Date: 2015.01.05
Author: chenzhou
*/
.card-wapper {
  max-width: 65em;
  margin: 0 auto;
  position: relative;
  /*
    flex: 100% !important;
    -ms-flex: 100%  !important;
    */
}

.card-wapper > h3 {
  padding: .5em;
  height: 1.2em;
  line-height: 1.5em;
  font-size: 1.1em;
  color: #999;
  border-width: 1px 1px 4px;
  border-style: solid;
  border-color: #d8d8d8;
  background-color: #f5f5f5;
}

.card {
  max-width: 65em;
  position: relative;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 2em;
}

ol.card .item {
  float: left;
  width: 12em;
  padding: 1em 1em 0;
  text-align: center;
  background-color: white;
  border: 1px solid #dfe7ef;
  color: #202830;
  text-shadow: white 0 1px 1px;
}

ol.card .item .fn {
  margin-bottom: .5em;
  padding-bottom: .5em;
  font-size: 1.2em;
  /*line-height: 1;*/
  border-bottom: 1px solid #dfe7ef;
  max-height: 2.1em;
  overflow: hidden;
}

ol.card .item ul {
  height: 11em;
}

/*css3 transforms */
.card .item {
  -webkit-transition-property: scale;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.card .item:hover {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

a.action {
  display: block;
  margin-bottom: 1.5em;
  padding: .8em 1.1em;
  background-color: #fe6423;
  color: white;
  text-align: center;
  text-shadow: rgba(32, 40, 48, 0.8) 0 1px 1px;
}

ol.card .action {
  font-size: 1.4em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-shadow: rgba(32, 40, 48, 0.8) 0 1px 1px;
}

a.action:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#e55a20));
  background-image: -moz-linear-gradient(left top, left bottom, from(#ff9900), to(#e55a20));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

a.action:hover {
  text-decoration: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

a.basic {
  background-color: #e5c355;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5c355), to(#bba047));
  background-image: -moz-linear-gradient(left top, left bottom, from(#e5c355), to(#bba047));
}

a.professional {
  background-color: #bc4848;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc4848), to(#7e3131));
  background-image: -moz-linear-gradient(left top, left bottom, from(#bc4848), to(#7e3131));
}

a.small {
  background-color: #da6d0e;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#be4b1a));
  background-image: -moz-linear-gradient(left top, left bottom, from(#ff9900), to(#be4b1a));
}

a.enterprise {
  background-color: #7a68a6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a68a6), to(#5b4e7f));
  background-image: -moz-linear-gradient(left top, left bottom, from(#7a68a6), to(#5b4e7f));
}

/*# sourceMappingURL=experiment-card.css.map */
