@charset "utf-8";
/*
CSS3 Tab Experiment
Date: 2015.01.05
Author: Chenzhou
*/

.tab {
  max-width: 52em;
  position: relative;
  margin: 0.8em auto;
  order: 2;
}

.tabNav{
    margin: 0;
    padding: 0;
}

.tabNav span{
  padding: .5em;
  font-style: normal;
  height: 1.5em;
  line-height: 2em;
  font-size: 1.1em;
  color: #999;
  border-width: 4px 1px 1px;
  border-style: solid;
  border-color: #ccc;
}

.tabNav span a {
   text-decoration: none;
}

.tabNav .current{
  font-weight: bold;
  border-top-color: #1f90df;  
}
 
.tabContent > div{
   position: absolute;
   left: 0;
   padding: 0.5em 0 0 0;
   opacity: 0;
}

.tabContent .current {
  background-color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 3;
  opacity: 0.75;
}

.tabContent .list-item {
  border-bottom: 1px solid #DDD;
  padding: 8px 0 10px 0;
  overflow: hidden;
}

.tabContent :target {
  background-color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0.75;
}
