@charset "utf-8";
/*
CSS3 Feedback Group
Date: 2015.02.23
Author: Chenzhou
*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-mcbkux');
  src:url('fonts/icomoon.eot?#iefix-mcbkux') format('embedded-opentype'),
    url('fonts/icomoon.woff?-mcbkux') format('woff'),
    url('fonts/icomoon.ttf?-mcbkux') format('truetype'),
    url('fonts/icomoon.svg?-mcbkux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}

.icon-spinner:before {
  content: "\e97a";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-cog:before {
  content: "\e994";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-clipboard:before {
  content: "\e9b8";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-bookmark:before {
  content: "\e9d2";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-arrow-up:before {
  content: "\ea32";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-share2:before {
  content: "\ea82";
}

.feedback { position: fixed;right: 0;bottom: 10px;z-index: 100;border: 1px solid #ebebeb;border-bottom: 0;width: 38px;}

.feedback .btn { height: 38px;line-height: 38px;overflow: hidden;display: inline;float: left;cursor: pointer;clear: both;
  width: 38px;text-align: center;background: #f5f5f5;border-bottom: 1px solid #ebebeb;
}

.feedback a { text-decoration: none;}
.feedback .backtop { display: none }
.feedback .btn em { display: none; margin: 3px auto 0; width: 24px;font-size: 12px; line-height: 16px;}
.feedback .btn:hover em { display: none; }